<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.ntj.whereareyou"
	android:versionCode="5"
	android:versionName="2.8" >

	<uses-sdk
		android:minSdkVersion="17"
		android:targetSdkVersion="24" />

	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
	<uses-permission android:name="com.ntj.whereareyou.permission.C2D_MESSAGE"/>

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name" >
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

		<activity
			android:name=".WRUActivity"
			android:windowSoftInputMode="stateHidden"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<service android:name=".LocationUpdateService" />
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.ntj.whereareyou" />
            </intent-filter>
        </receiver>
		<receiver
			android:name=".StopTargetReceiver"
			android:exported="false">
			<intent-filter>
				<action android:name="com.ntj.whereareyou.ACTION_STOP_LOCATE_TAGET" />
				<category android:name="com.ntj.whereareyou" />
			</intent-filter>
		</receiver>
            	
        <service
            android:name="com.ntj.whereareyou.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.ntj.whereareyou.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
	</application>

</manifest>
